.App {
  background: linear-gradient(to right, #BE00EB,  #612EE8); /* Customize your colors */
  height: 100vh; /* or any desired size */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

.Carousel {
  width: 275px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 100px;
  margin-top: 300px;
}

